/* HotNews Card */
.hotNewsCard--container{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 5px;
    width: 24vw;
    height: 32vh;;
    position: relative; /* 위치 지정 */
    overflow: hidden; /* 자식 요소가 컨테이너 밖으로 나가지 않게 제한 */
    cursor: pointer;
}




.hotNewsCard--contents{
    width: 22.3avw;
    height: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 14px;
    z-index: 1;
    transition: background-color 0.3s ease;
    
}

.hotNewsCard--contents__letterContainer{
    display: flex;
    flex-direction: column;
}

.hotNewsCard--contents__press{
    margin:0;
    font-size: 12px;
    font-weight: bold;
}

.hotNewsCard--contents__title{
    margin:0;
    font-size: 18px;
    font-weight: bold;

    /* 말줄임표 (...) 적용 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%; /* 필요하면 조절 */
}

.hotNewsCard--contents__preview{
    margin: 3px 0;
    font-size: 12px;

    /* 말줄임표 (...) 적용 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%; /* 필요하면 조절 */
}

.hotNewsCard--contents__dateContainer{
    display: flex;
    flex-direction:row-reverse;
}

.hotNewsCard--contents__date{
    font-size: 9px;
    margin:0;
}

.hotNewsCard--image{
    width: 22.3avw;
    height: 70%;
    border-radius: 5px 5px 0 0;
    background-image: url('/economy.png');
    background-size: cover;
    background-position: center center;
    transition: filter 0.3s ease;
}

/* 마우스를 올렸을 때 이미지 어두워지게 */
.hotNewsCard--container:hover .hotNewsCard--image {
    filter: brightness(0.5); /* 이미지 어두워짐 */
}

/* 텍스트 영역도 마우스를 올렸을 때 배경색이 천천히 변하도록 설정 */
.hotNewsCard--container:hover .hotNewsCard--contents {
    background-color: rgba(0, 0, 0, 0.3); /* 어두운 배경 추가 */
}



/* BasicNews Card */
.basicNewsCard--container{
    display: flex;
    flex-direction: row;

    background-color: white;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 3px;
    width: 18vw;
    height: 14vh;;
    position: relative; /* 위치 지정 */
    overflow: hidden;
    transition: background-color 0.3s ease, filter 0.3s ease;
    cursor: pointer;
}



.basicNewsCard--contents{
    width: 9.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.basicNewsCard--contents__press{
    margin:0;
    font-size: 9px;
    font-weight: 600;
    transition: text-decoration 0.3s ease;
}

.basicNewsCard--contents__title{
    margin:0;
    font-size: 15px;
    font-weight: 600;
    transition: text-decoration 0.3s ease;

    /* 말줄임표 (...) 적용 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%; /* 필요하면 조절 */
}

.basicNewsCard--contents__preview{
    margin: 3px 0;
    font-size: 11px;
    font-weight: 300;
    transition: text-decoration 0.3s ease;

    /* 말줄임표 (...) 적용 */
    display: -webkit-box;
    -webkit-line-clamp: 2;  
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
}

.basicNewsCard--contents__date{
    margin: 3px 0;
    font-size: 10px;
    font-weight: 300;
    transition: text-decoration 0.3s ease;
}

.basicNewsCard--contents__letterContainer:hover {
    text-decoration: underline;
}

.basicNewsCard--imageContainer{
    width: 7vw;
    height: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basicNewsCard--imageBorder{
    height: 90%;
    width: 90%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.basicNewsCard--image{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-image: url('/food.png');
    background-size: cover;
    background-position: center center;
    transition: transform 0.3s ease-in-out;  /* 부드러운 확대 효과 */
}

/* 호버 시 배경 이미지 확대 */
.basicNewsCard--imageBorder:hover .basicNewsCard--image {
    transform: scale(1.1); /* 배경 이미지만 확대 */
}




/* SearchNews Card */
.searchNewsCard--container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 3px;
    width: 37vw;
    height: 18vh;
    overflow: hidden;
    transition: background-color 0.3s ease, filter 0.3s ease;
    cursor: pointer;
}

.searchNewsCard--container:hover {
    background-color: rgba(0, 0, 0, 0.3); /* 전체 배경 어두워짐 */
    filter: brightness(0.7); /* 전체 밝기 어두워짐 */
}


.searchNewsCard--contents{
    width: 21.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin-left: 10px;
}

.searchNewsCard--contents__press{
    margin:0;
    font-size: 10px;
    font-weight: 600;
}

.searchNewsCard--contents__title{
    margin:0;
    font-size: 17px;
    font-weight: 600;

    /* 말줄임표 (...) 적용 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%; /* 필요하면 조절 */
}

.searchNewsCard--contents__preview{
    margin: 8px 0;
    font-size: 11px;
    font-weight: 300;

    /* 말줄임표 (...) 적용 */
    display: -webkit-box;
    -webkit-line-clamp: 3;  
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
}

.searchNewsCard--contents__date{
    margin: 3px 0;
    font-size: 10px;
    font-weight: 300;
}

.searchNewsCard--imageContainer{
    width: 13vw;
    height: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.searchNewsCard--image{
    height: 80%;
    width: 90%;
    border-radius: 15px;
    background-image: url('/america.png');
    background-size: cover;
    background-position: center center;
}






