
/* Main News */
.MainNews--container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: max-content;
    gap: 40px;
    width: 100vw;
    padding: 20px 0px 60px 0px;
}

.MainNews--Newscontainer{
    width: 75vw;
    height: max-content;
    margin: 50px 0;
}

.MainNews--titleContainer{
    width: 100%;
    margin-bottom: 20px;
}

.MainNews--title{
    font-size: 2vw;
    margin:0;
}



.MainNews--News {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3열 그리드 설정 */
    gap: 10px;
    justify-content: center; /* 카드들을 가로로 중앙 정렬 */
    align-items: center; /* 세로 정렬 */
    min-height: 50vh; /* 프로젝트가 없을 때도 공간 확보 */
    padding: 0px 10px;
  }
  
  @media (max-width: 768px) {
    /* 화면 가로 크기가 768px 이하일 때 */
    .MainNews--News {
      grid-template-columns: repeat(2, 1fr); /* 2열로 변경 */
    }
  }

  .MainNews--News__latest {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3열 그리드 설정 */
    gap: 10px;
    justify-content: center; /* 카드들을 가로로 중앙 정렬 */
    align-items: center; /* 세로 정렬 */
    min-height: 32vh; /* 프로젝트가 없을 때도 공간 확보 */
    padding: 0px 10px;
  }
  
  @media (max-width: 768px) {
    /* 화면 가로 크기가 768px 이하일 때 */
    .MainNews--News__latest {
      grid-template-columns: repeat(2, 1fr); /* 2열로 변경 */
    }
  }

.MainNews--pages{
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



/* Search News */
.SearchNews--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: max-content;
    gap: 40px;
    width: 100vw;
    padding: 20px 0px 40px 0px;
}

.SearchNews--hotIssues--titleContainer{
    width: 72vw;
}

.SearchNews--hotIssues--title{
    font-size: 2vw;
    margin:0;
}

.SearchNews--resultList{
    width: 80vw;
    min-width: 500px;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow-y: auto;
}

/* 스크롤바 전체 스타일 */
.SearchNews--resultList::-webkit-scrollbar {
    width: 8px; /* 스크롤바 너비 */
}

/* 위아래 화살표 숨기기 */
.SearchNews--resultList::-webkit-scrollbar-button {
    display: none;
}

/* 스크롤바 트랙 (배경) */
.SearchNews--resultList::-webkit-scrollbar-track {
    background: transparent; /* 배경 투명 */
}

/* 스크롤바 자체 (움직이는 부분) */
.SearchNews--resultList::-webkit-scrollbar-thumb {
    background: #D9D9D9; /* 바 색상 */
    border-radius: 4px; /* 바 둥글게 */
}

/* 마우스 호버 시 스크롤바 색상 변경 */
.SearchNews--resultList::-webkit-scrollbar-thumb:hover {
    background: #c4c4c4;
}






