
.searchContainer--container{
    background-color: #F5F5F5;
    width: 90vw;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px 10px 20px;
    margin: 40px;
}

.searchContainer--searchBar{
    width: 60vw;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 7vw;
    margin-bottom: 20px;
    
}

.searchContainer--searchInputContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    width: 88%;
    height: 100%;
    padding: 0px 10px;
    border: 1px solid black;
}

.searchContainer--Input{
    margin-left: 10px;
    font-size: 18px;
    border: none;
    outline: none;
    width: 95%;
    height: 80%;
}

.searchContainer--searchButton{
    font-size: 0.8vw;
    width: 9%;
    height: 100%;
    color:white;
    background-color: black;
    border: none;
    border-radius: 12px;
    outline: none;
}

.searchContainer--categoryContainer{
    width: 50vw;
    min-height: max-content;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.searchContainer--categoryButton {
    padding: 0;
    font-size: 10px;
    background-color: #D9D9D9;
    width: 3vw;
    height: 3vh;
    min-width: 60px;
    min-height: 25px;
    border-radius: 0;
    border: none;
    outline:none;
}

.searchContainer--categoryButton:hover {
    background-color: #6A6A6A;
    border: none;
    outline:none;
}


