/* 기본 레이아웃 */
.layout {
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    padding-top: 60px;
  }

  /* 소개 페이지에만 배경 이미지 설정 */
  .layout.intro-page {
    background-image: url('../assets/intro_background.png');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; /* 배경이 스크롤 시 고정되도록 */
    z-index: 0;
    overflow: hidden;
  }
  
  /* Header와 Footer는 배경 위에 오도록 z-index 설정 */
  header, footer {
    position: relative;
  }
  
  /* Outlet에 해당하는 페이지 콘텐츠는 기본적으로 배경 위에 오도록 */
  main {
    position: relative;
 
  }
  