.headerContainer{
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px 40px;
  position: relative;
  color: currentColor;
  box-sizing: border-box;
}

.header p {
  font-size: 18px;
  margin: 0 20px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding-bottom: 3px;
  font-weight: bold;
  transition: color 0.3s ease-in-out, font-weight 0.3s ease-in-out;
}

.whiteBackground {
  background-color: white;
}

.blackBackground {
  background-color: black;
}


.whiteText p,
.whiteText select,
.whiteText option {
  color: white;
}

.blackText p,
.blackText select,
.blackText option {
  color: black;
}

.whiteText p:hover {
  color: rgba(255, 255, 255, 0.8);
}

.blackText p:hover {
  color: rgba(51, 51, 51, 0.8);
}

.header p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: -4px;
  width: 100%;
  height: 3px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

.header p:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.whiteText {
  color: white;
}

.blackText {
  color: black;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 95%;
  height: 1.5px;
  background-color: currentColor;
  transform: translateX(-50%);
}

.whiteText .header::after {
  background-color: white;
}

.blackText .header::after {
  background-color: black;
}

.languageToggle {
  position: relative;
  margin-left: 100px;
  margin-right: 20px;

  border-radius: 20px;

}

.languageToggle select {
  width: 150px;
  appearance: none;
  background: transparent;
  border: 1px solid currentColor;
  padding: 5px 30px 5px 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  box-shadow: none;
}

.languageToggle select option {
  color: black;
  border-radius: 0;
}

.blackText .languageToggle select option {
  color: black;
  border-radius: 0;
}

.languageToggle::after {
  content: "▼";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: currentColor;
}

.blackText .languageToggle::after {
  color: black;
}

.active {
  font-weight: bold;
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 100%;
  height: 3px;
  background-color: currentColor;
  transform: translateX(-50%);
}

.image{
  width: 200px;
  height: 45px;
}

.logoContainer{
  cursor: pointer;
}
