.newsModal {
    position: fixed;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 380px;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    font-family: "Arial", sans-serif;
  }
  
  .newsModal h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .newsModal a {
    text-decoration: none;
    color: black;
  }
  
  .newsModal p {
    font-size: 14px;
    color: #333;
  }

  .closeIcon{
    font-size: 16px;
    margin-bottom: 10px;
  }

  .titleContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .image{
    border-radius: 6px;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .contentContainer{
    display: flex;
    gap: 20px;
  }

  .loader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    margin-top: 25px;
  }