
.searchContainer--container{
    background-color: #F5F5F5;
    width: 1130px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px 10px 20px;
}

.searchContainer--searchBar{
    width: 920px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 120px;
    margin-bottom: 20px;
}

.searchContainer--searchInputContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    width: 770px;
    height: 50px;
    padding: 0px 10px;
    border: 1px solid black;
}

.searchContainer--Input{
    font-size: 18px;
    border: none;
    outline: none;
    width: 700px;
    height: 40px;
}

.searchContainer--searchButton{
    font-size: 18px;
    width: 100px;
    height: 50px;
    color:white;
    background-color: black;
    border: none;
    border-radius: 12px;
    outline: none;
}

.searchContainer--categoryContainer{
    width: 820px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.searchContainer--categoryButton{
    padding: 0;
    font-size: 10px;
    background-color: #D9D9D9;
    width: 50px;
    height: 20px;
    border-radius: 0;
}



